@import "tailwindcss";

@theme {
  --color-cream-50: #FCFBF8;
  --color-cream-100: #F9F6EE;
  --color-cream-200: #f1ebd8;
  --color-sand-500: #C2B280;
  --color-sand-600: #A89B6D;
  --color-brown-900: #3E2723;
  --color-brown-800: #4E342E;
}

@layer base {
  body {
    background-color: var(--color-cream-50);
    color: var(--color-brown-900);
  }
}
